.game__InnerBorder{
    border: 2px solid green;
    //Keeps target within border
    position: relative;
    //Takes up the remaining space
    flex-grow: 1;
}

// @media screen and (min-width: 375px){
//     .game__InnerBorder{
//         display: flex;
//         flex-grow: 1;
//     }
// }